/* <<<====== Content-info start ======>>> */

.content-info {
    padding-top: 5px;
    padding-bottom: 12px;
}

.content-info ul {
    margin-left: 3px;
}

.content-info ul li:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px
}

.content-info ul li:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

.content-info ul li {
    width: 100%;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 25px;
    border: 1px solid #e5f2fa;
    background-color: #f0f9ff;
    transition: all ease-in .7s;
}

.content-info li:hover {
    background-color: rgb(52, 124, 124);
    transition: all ease-in-out .2s;
    color: #fff;
}

.content-info ul li span {
    font-size: 34px;
}

.content-info ul li p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 11px;
}


/* <<<====== Content-info end ======>>> */