/* <<<====== Navbar start ======>>> */

.navbar ul {
    width: 280px;
}
.navbar li {
    margin-bottom: 47px;
    align-items: flex-start;
}

.navbar li:first-child {
    margin-bottom: 25px;
}

.navbar li i {
    font-size: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
    padding: 7px 12px;
    margin-left: 10px;
    margin-right: 13px;
}
.navbar li span{
    font-size: 16px;
}

.navbar .navbar-btn1, .navbar .navbar-btn2{
    display: none;
    position: absolute;
    right: 0;
    top: 9px;
}
.navbar .navbar-btn1 i, .navbar .navbar-btn2 i{
    font-size: 26px;
    margin-right: 13px;
    color: #f3f3f3;
}

.navbar-btn{
    display: block !important;
}
.navbar-btn-d-none{
    display: none !important;
}

.responsive-nav{
    display: block !important;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    padding: 28px 0;
}
.nav-d-none{
    display: none ;
}

/* <<<====== Navbar end ======>>> */