/* <<<====== Navbar start ======>>> */

.navbar ul {
    width: 280px;
}
.hiy{
    display: block !important;
}
.hit{
    display: none ;
}
.navbar li {
    margin-bottom: 47px;
    align-items: flex-start;
}

.navbar li:first-child {
    margin-bottom: 25px;
}

.navbar li i {
    font-size: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
    padding: 7px 12px;
    margin-left: 10px;
    margin-right: 13px;
}
.navbar li span{
    font-size: 16px;
}

.navbar .navbar-btn1{
    display: none;
    position: absolute;
    right: 0;
    top: 9px;
}
.navbar .navbar-btn1 i, .navbar-btn2 i{
    font-size: 26px;
    margin-right: 13px;
    color: #f3f3f3;
}
.navbar .navbar-btn2 i{
    font-size: 26px;
    margin-right: 13px;
    color: #f3f3f3;
    display: none;
}

/* <<<====== Navbar end ======>>> */